<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }} - Neptune-notebook.js</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      /* neptune.css */
      {{ neptuneCSS|safe }}
    </style>
    <style>
      /* prism.css */
      {{ prismCSS|safe }}
    </style>
    <style>
      /* injected CSS */
      {{ injectedCSS|safe }}
    </style>
    {{ injectedHTML|safe }}
  </head>
  <body>
    {{ contentHtml|safe }}

    <script type="text/javascript">
      // prism.js
      {{ prismJS|safe }}
    </script>
    <script type="text/javascript">
      {% if isOffline %}
      window.$__offline__$ = true;
      {% endif %}
      // neptune.js
      {{ neptuneJS|safe }}
    </script>
    <script type="text/javascript">
      // injected JS
      {{ injectedJS|safe }}
    </script>
  </body>
</html>
  
