/*
 * General styling
 */
* {
  box-sizing: border-box;
}

body {
  padding: 50px;
}

/*
 * Tabs layout
 * https://kyusuf.com/post/completely-css-tabs/
 */
.code-tabs {
  /* box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3); */
  padding: 30px 10px 10px 10px;
  background: #e5e5e5;
  overflow: hidden;
  border: dashed 1px #333333;
  border-radius: 20px;
}
.tab-input {
  position: absolute;
  opacity: 0;
}
.tab-label {
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition background 0.1s, color 0.1s;

}
.tab-label-selected {
  background: rgb(45, 45, 45);
  color: #FFFFFF;
}
.tab-label:hover {
  color: #4CAF50;
}
.code-tab {
  display: none;
  clear: both;
}
.tab-input:checked + .code-tab {
  display: block;
}

/*
 * Code editor
 * Use a "transparent" <textarea> super-imposed right on top of <code> in parent <pre>
 */
.code-editor {
  /* overlay this perfectly on top of code */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 1px);

  /* Make sure nothing is visible from this text area */
  border: none;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  color: transparent;
  caret-color: white;
  
  /* have the same exact font as <code> */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 16px;
  line-height: 24px;
  overflow-wrap: normal;
  text-align: left;
  word-break: normal;
  word-spacing: 0px;
  -moz-tab-size: 4;

  /* have the same padding as <code> (due to line numbers) */
  padding-left: 3.8em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.code-tab pre {
  min-height: 80px;
  overflow: hidden;
}

/*
 * bar with execute button 
 * Inspired by https://www.w3schools.com/howto/howto_css_icon_bar.asp
 */
.code-top-toolbar {
  float: right;
  position: relative;
  top: -10px;
  padding: 0;
}

.code-top-toolbar a {
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #333333;
  font-size: 30px;
  z-index: 2;
}

.code-top-toolbar a:hover {
  background-color: rgb(45, 45, 45);
  color: #FFFFFF;
}

/*
 * output terminal like panel
 */
.output-panel {
  display: none;
}

/*
 * Custom output divs
 */
.custom-output-div {
}
