/*
 * General styling
 */
* {
  box-sizing: border-box;
}

body {
  padding: 50px;
}

/*
 * Tabs layout
 * https://kyusuf.com/post/completely-css-tabs/
 */
.code-tabs {
  /* box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3); */
  padding: 30px 10px 10px 10px;
  background: #e5e5e5;
  overflow: hidden;
  border: dashed 1px #333333;
  border-radius: 20px;
}
.tab-input {
  position: absolute;
  opacity: 0;
}
.tab-label {
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition background 0.1s, color 0.1s;

}
.tab-label-selected {
  background: #2B2B2B;
  color: #FFFFFF;
}
.tab-label:hover {
  color: #4CAF50;
}
.code-tab {
  display: none;
  clear: both;
}
.tab-input:checked + .code-tab {
  display: block;
}

/*
 * Code editor
 * Use a "transparent" <textarea> super-imposed right on top of <code> in parent <pre>
 */
.CodeMirror {
  /* layout */
  overflow: hidden;
  height: auto;
  min-height: 40px;

  /* font */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-linenumbers {
  margin-right: 15px;
}

/*
 * bar with execute button 
 * Inspired by https://www.w3schools.com/howto/howto_css_icon_bar.asp
 */
.code-top-toolbar {
  float: right;
  position: relative;
  top: -10px;
  padding: 0;
}

.code-top-toolbar a {
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #333333;
  font-size: 30px;
  z-index: 2;
}

.code-top-toolbar a:hover {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

/*
 * output terminal like panel
 */
.output-panel {
  /* layout */
  display: none;
  margin: .5em 0;
  padding: 1em;
  /* colors */
  background-color: #2B2B2B;
  color: #ccc;
  /* font */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1.2em;
  line-height: 1.5;
}

.output-line-span {
  color: #999;
}

/*
 * Custom output divs
 */
.custom-output-div {
}
